.row-header{

	margin:0px auto;
	padding: 0px auto;

}

.row-containus{

	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border: bottom ridge;
	min-height: 200px;

}

.row-container{

	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border: bottom ridge;
	min-height: 400px;

}

.footer{

	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0 px 20px 0px;

}

.jumbotron{

	background-color: #9575CD;
	margin: 0 auto;
	padding: 70px 30px 70px 30px;
	color: floralwhite;

}

address{

	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

body{

	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.navbar-dark{

	background-color: #512DA8;
}